<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>faleconosco-pub</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<page-encoding>ISO-8859-1</page-encoding>
		</jsp-property-group>
	</jsp-config>
	<servlet>
        <servlet-name>jcaptcha</servlet-name>
        <servlet-class>br.gov.caixa.faleconosco.portal.util.captcha.ImageCaptchaServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    
	<servlet-mapping>
        <servlet-name>jcaptcha</servlet-name>
        <url-pattern>/jcaptcha</url-pattern>
    </servlet-mapping>
	
	<session-config>
		<session-timeout>40</session-timeout>
	</session-config>
	<resource-ref id="resRefFaleConoscoDs">
		<description>Datasource Oracle SIOUV</description>
		<res-ref-name>jdbc/faleconosco-ds</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
		<lookup-name>jdbc/faleconosco-ds</lookup-name>
	</resource-ref>
	
</web-app>